[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable

# ASP0014: Suggest using top level route registrations
dotnet_diagnostic.ASP0014.severity = silent
